@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
/*New added*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Playfair+Display&display=swap');

*
{
    padding:0;
    margin:0;
    
}

body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(to bottom, #ede8ff, #e7e6ff, #e1e4ff, #dae3ff, #d2e1ff);
}


/*FAQ page*/
/*
-Add all #main
-Change box margin-left right 300px
*/
#main
{
    margin-bottom: 200px;
}

#main .top{
    text-align: center;
    margin:10px auto 50px;
}

#main .top h1 {
    font-family: Georgia;
    height: 50px;
    line-height: 50px;
    font-size:30px;
}

#main .top h2 {
    font-family: Georgia;
    height: 50px;
    line-height: 50px;
    font-size:20px;
}


#main .category ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: monospace;
    font-size: 18px;

}

#main .category li {
    display:inline-block; 
    width:300px;
}

#main .category li a {
    display: block;
    color: rgb(0,32,96);
    padding: 20px 22px;
    text-align: center;
    text-decoration: none;
    border:2px solid black;
    background-color: rgb(58, 144, 241);
}

#main .category li a:hover {
    background-color: rgba(1, 18, 117, 0.822);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}

#main .box
{
    border: 1px solid #2445ff;
    
    border-radius: 20px;
    margin: 30px 300px 50px 300px;
    padding: 0px 80px 30px 80px;
    text-align: center;
}

#main .category2 h4
{
    font-family: monospace;
    font-size: 1.15em;
    background-color: rgba(1, 18, 117, 0.822);
    color: rgb(255, 255, 255);
    height: 30px;
    line-height: 30px;
    width: 150px;
    border-radius: 0 30px;
    padding: 10px 30px;
    text-align: center;
    margin-top:10px;
    margin-bottom:40px;
}

#main .collapsible {
    background-color: #93d7ff9d;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: Georgia;
    border:1px solid rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    margin-top:10px;
    margin-bottom: 0px;
}

#main .active,
#main .collapsible:hover {
    background-color: #BFBFBF;
    color: white
}

#main .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 95%;
    background-color: #c8eff8;
    transition: max-height 0.2s;
    border: 1px solid black;
    margin-left: 10px;
    height:auto;
    text-align: justify;
}

#main .content p
{
    margin:50px auto;
}

/*aboutuspage*/
#main .aboutus {
    
    text-align: center;
   
}

#main .aboutus h1 {
   
    font-family: Georgia;
    margin:15px auto 0px;
    height:50px;
    line-height:50px;
    font-size: 30px;
}

#main .aboutus h4 
{
    font-size: 150%;
    color: rgb(16, 61, 197);
    font-family: "Playfair Display";
    margin-bottom: 20px;
}

#main .aboutus ul {
    list-style: radio;
    font-family: 'Segoe UI';
}

#main .aboutus .ourstory,#main .aboutus .mission,#main .aboutus .whyus{
    box-shadow: 0 0 4px 0 #FF9900;
    background-color: rgba(255, 255, 255, 0.733);
    padding:50px;
    border-radius: 30px;
    margin: 100px 400px;
}

#main .aboutus p{
    font-family: "DM Sans";
}

#main .contact a
{
    text-decoration: none;
    font-weight: bold;
    color :rgba(3, 3, 117, 0.781);
}


#main .aboutus .contact a:hover {
    font-family: Georgia;
    color: rgb(228, 30, 15);
    text-shadow: 0 0 2px #fffb00;
}

.contact {
    font-size: 20px;
}


/*Contact us*/

#main .contact_form {
    text-align: center;
    font-family: Georgia, serif;
}

#main .contact_form .contactdetail h3,
.contact_form .contactdetail p {
    padding: 0;
}

#main .contact_form .contactdetail h3 {
    text-align: center;
    color: rgb(35, 90, 243);
}


#main .contact_form .form1 button[type=Submit] {

    background-color: rgb(255, 255, 0);
    color: black;
    border: 2px solid black;
    font-weight:bold;
    font-family:monospace;
    border-radius: 15px;
    padding: 12px 30px;
    letter-spacing: 2px;
    float:center;
}

#main .contact_form .form1 button[type=Submit]:hover{
    background:black;
    color:yellow;
}

#main .contact_form .form1 {

    border-style: solid;
    padding: 50px 10px 50px 10px;
    height: 400px;
    width: 600px;
    margin: 30px auto 100px;
    border-color: #FF9900;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
    
}

#main .contact_form .form h1 {
   
    font-family: Georgia;
    margin:100px auto 0px;
    height:50px;
    line-height:50px;
    font-size: 30px;
}


#main .contact_form .form1 button {
    margin:20px auto;
}

#main .col-25 {
    float: left;
    text-align: right;
    width: 200px;
    margin:10px 10px 10px 0px;
}

#main .col-75 {
    float: left;
    width: 350px;
    margin: 10px 10px 10px 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/*side navigation push*/
.sidenav a:hover {
    color: #f1f1f1;
}

 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
     margin-left: 50px;
}

 @media screen and (max-height: 450px) {
     .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Concert One',serif;
    font-size:20px;
}
        

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
 }


/*shopping cart*/
#main .sc,
.confirmOrder 
{
    margin: auto;
    width: 75%;
    padding: 10px;
      
}

#main .sc table {
    border-collapse: collapse;
    font-family: 'Calibri';
    width: 100%;
    text-align: center;
}

#main .sc table th {
    line-height: 32.5px;
    font-size:20px;
}

#main .sc table td {
    padding: 30px 0px;
}

#main .sc table tr th:first-child,
table tr td:first-child {
    text-align: left;
}

#main .sc table tr td .name {
    color: cornflowerblue;
    font-weight: bold;
    font-size:20px;
}

#main .sc table tr td a {
    text-decoration: none;
    border: 1px solid black;
    background: black;
    color: white;
    padding: 3px;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Segoe UI';
    font-weight: bold;
    border-radius: 3px;
        
}

#main .sc table tr td input[type=submit],
#main .confirmOrder input[type=submit] {
    background: black;
    color: white;
    padding: 3px;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Segoe UI';
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

#main .sc table tr td a:hover,
#main .sc table tr td input[type=submit]:hover,
#main .confirmOrder input[type=submit]:hover{
    background: lightgreen;
}

#main .sc .remove
{
    margin:10px;
    padding:3px;
    border-radius:50px;
}

#main .sc .remove:hover 
{
    background:rgba(255,0,0,0.23);
    border-radius:5px;
}

.cartBox{
    border: 1px solid red;
    background: rgba(255,0,0,0.09);
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
}

#main .confirmOrder {
    width: 450px;
    box-shadow: 0 0 4px 0 #ff9900;
    background-color: rgba(255, 255, 255, 0.733);
    padding: 20px;
    border-radius: 20px;
    margin: 100px auto 200px;
    text-align: center;
}

#main .confirmOrder form:after {
    content: "";
    display: block;
    clear: both;
}

#main .confirmOrder h1 {
    font-family: Georgia;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 30px auto;
}

#main .confirmOrder table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Segoe UI';
}


#main .confirmOrder td:first-child {
    text-align: right;
    padding: 5px 0px;
}

#main .confirmOrder td:last-child {
    text-align: left;
    padding: 5px 0px;
}

#main .confirmOrder td:last-child input,
#main .confirmOrder td textarea {
    margin: 5px;
}
 

 